
@import url(tabs/home_tab.css);

@import url(panels/artist_links_panel.css);
@import url(panels/artist_relations_panel.css);

@import url(panels/search_panel.css);
@import url(panels/similar_artists_panel.css);
@import url(panels/top_albums_panel.css);
@import url(panels/torrent_search_panel.css);
@import url(panels/wikipedia_panel.css);
@import url(panels/user_login_panel.css);
@import url(panels/yahoo_videos_panel.css);

@import url(panels/user_info_panel.css);

@import url(windows/album_info_window.css);
@import url(windows/recent_tracks_window.css);

.contentpanel{
  margin: 0.5em !important;
}


#username_input{
  padding-left: 20px;
  background-color: #cccccc;
  padding-bottom: 5px;
  padding-top: 5px;
}
#username_input label 
{
  margin-right: 1em;
  font-family: verdana, helvetica, sans;
}


/*
ul.x-tab-strip-top {
  background: none !important;
}

.x-tab-panel-header {
  background: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}*/
