
#now_playing{
  padding: 0 1em 0 1em;
}

#now_playing img.avatar{
  float: left;
  width: 70px;
  height: 70px;
}

.now_playing_body .track{
  font-family: verdana, helvetica, sans-serif;
  font-size: 16pt;
}

.now_playing_body .artist, .now_playing_body .by{
 font-family: verdana, helvetica, sans-serif;
 font-size: 14pt;
}

.now_playing_body .album_title{
 font-family: verdana, helvetica, sans-serif;
 font-size: 12pt;
}

.now_playing_body .album{
  font-family: verdana, helvetica, sans-serif;
  font-size: 14pt;
}


.label{
  clear: left;
  float: left;
  width: 80px;
  margin-left: 0.5em;
}

.bar{
  background-color: #00ff00;
  height: 10px;
  margin-top: -12px;
  float: left;
  display: block;
  min-width: 10px;
}

.contentpanel{
  margin: 0.5em !important;
}

#username_input{
  padding-left: 20px;
  background-color: #cccccc;
  padding-bottom: 5px;
  padding-top: 5px;
}
#username_input label 
{
  margin-right: 1em;
  font-family: verdana, helvetica, sans;
}
      
#artist_wikipedia {
  padding: 0.5em 1em 0.5em 1em;
  font-size: 11pt;
}

#artist_wikipedia p{
  margin-bottom: 0.5em;
}

#album_track_listing{
  font-size: 12px;
}

#top_albums, #similar_artists{
 font-size: 12px;
 padding: 0.5em 1em 0.5em 1em;
}

#top_albums li{
  float: left;
  list-style: none;
  width: 130px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 200px;

}
#similar_artists .view_menu{
  float: right;
  height: 36px;
  margin-left: 36px;
  margin-bottom: 12px;
  cursor: pointer;
}
#similar_artists .view_menu img{
  margin-left: 4px;
}

#similar_artists ol{
  width: 590px;
  clear: both;
}

#similar_artists ol.table{
  height: 480px;
  overflow: auto;
}

#similar_artists ol.quilt li{
  float: left;
  list-style: none;
}

#similar_artists ol.quilt li.large{
  width: 130px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 130px;
}

#similar_artists ol.quilt li.medium{
  width: 65px;
  margin-right: 5px;
  height: 70px;
}

#similar_artists ol.quilt li.small{
  width: 33px;
  margin-right: 2px;
  height: 35px;
}

#similar_artists ol.table li{
  list-style: none;
  clear: both;
  margin-top: 2px;
  height: 35px;
}

#similar_artists ol.table li img{
  float: left;
  width: 35px;
  height: 35px;

}

#similar_artists ol.table li span.artist{
  float: left;
  width: 275px;
  text-align: left;
  font-family: verdana, helvetica, sans;
  font-size: 14px;
  padding-left: 25px;
  line-height: 35px;
}

#similar_artists ol.table li span.match{
  float: left;
  width: 50px;
  line-height: 35px;
  text-align: left;
}

#similar_artists ol.table li span.match_bar{
  float: left;
  height: 35px;
  width: 155px;
  margin-right: 20px;
}

#similar_artists ol.table li span.match_bar_inner{
  display: block;
  height: 11px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #6593CF;
}


#top_albums li span, #similar_artists li span{
  text-align: center;
  font-family: verdana, helvetica, sans;
  font-size: 12px;

}

#artist_info{
}

#album_info{
  padding: 0.5em 1em 0.5em 1em;
}

#album_info h2{
  margin-bottom: 1em;
}

#album_info .left_column{
  float: left;
}

#album_info .track_listing{
  float: left;
  margin-left: 2em;
  width: 300px;
}
#album_info .track_listing ol{
  list-style-type: decimal;
}

#album_info .reach_container{
  width: 130px;
  padding-bottom: 0.5em;
  margin-top: 20px;
} 

#album_info .reach_container .reach{
  font-family: verdana, helvetica, sans;
  display: block;
}
