

.now_playing_panel{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  float: right;
}

.now_playing{
  padding: 0 1em 0 1em;
}

.now_playing img.avatar{
  float: left;
  width: 70px;
  height: 70px;
}

.now_playing_body{
  float: left;
  margin-top: 20px;
}

.now_playing_body h3{
   color : #15428B;
   font-family: tahoma, arial, verdana, sans-serif;
   font-size: 11px;
   font-weight: bold;
}

.now_playing_body .track, .now_playing_body .artist, .now_playing_body .by{
  font-size: 14px;
}

.label{
  clear: left;
  float: left;
  width: 80px;
  margin-left: 0.5em;
}

.bar{
  background-color: #00ff00;
  height: 10px;
  margin-top: -12px;
  float: left;
  display: block;
  min-width: 10px;
}

.contentpanel{
  margin: 0.5em !important;
}

#username_input{
  padding-left: 20px;
  background-color: #cccccc;
  padding-bottom: 5px;
  padding-top: 5px;
}
#username_input label 
{
  margin-right: 1em;
  font-family: verdana, helvetica, sans;
}
      
.wikipedia_content {
  padding: 1em 1em 0.5em 1em;
  font-size: 12px;
}

.wikipedia_content p{
  margin-bottom: 0.5em;
}
.wikipedia_content sup{
  display: none;
}

.torrent_search{
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}

.torrent_search a{
  color: #000000;
  text-decoration: none;
  font-family: verdana, helvetica, sans;
}

.torrent_search a:hover{
   text-decoration: underline;
}


.artist_links{
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}

.artist_links li{
  margin-top: 0px;
  margin-bottom: 0px;
}

.artist_links a{
  color: #000000;
  text-decoration: none;
  font-family: verdana, helvetica, sans;
}

.artist_links a:hover{
   text-decoration: underline;
}

.similar_artists{
 font-size: 12px;
 padding: 0.5em 1em 0.5em 1em;
}

.top_albums li span, .similar_artists li span{
  text-align: center;
  font-family: verdana, helvetica, sans;
  font-size: 12px;
}


.top_albums{
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
}

.top_albums li{
  list-style: none;
  width: 130px;
  margin-right: 10px;
  margin-bottom: 14px;

}
.similar_artists .view_menu{
  float: right;
  height: 36px;
  margin-left: 36px;
  margin-bottom: 12px;
  cursor: pointer;
}
.similar_artists .view_menu img{
  margin-left: 4px;
}

.similar_artists ol{
  width: 590px;
  clear: both;
  margin-left: 15px;
  margin-top: 15px;
  overflow: hidden;
}

.similar_artists ol.table{
  height: 480px;
  overflow: auto;
}

.similar_artists ol.quilt li{
  float: left;
  list-style: none;
}

.similar_artists ol.quilt li.large{
  width: 130px;
  margin-right: 10px;
  margin-bottom: 5px;
  height: 130px;
}

.similar_artists ol.quilt li.medium{
  width: 65px;
  margin-right: 5px;
  margin-bottom: 2px;
  height: 70px;
}

.similar_artists ol.quilt li.small{
  width: 33px;
  margin-bottom: 1px;
  margin-right: 2px;
  height: 35px;
}

.similar_artists ol.table li{
  list-style: none;
  clear: both;
  margin-top: 2px;
  height: 35px;
}

.similar_artists ol.table li img{
  float: left;
  width: 35px;
  height: 35px;

}

.similar_artists ol.table li span.artist{
  float: left;
  width: 275px;
  text-align: left;
  font-family: verdana, helvetica, sans;
  font-size: 14px;
  padding-left: 25px;
  line-height: 35px;
}

.similar_artists ol.table li span.match{
  float: left;
  width: 50px;
  line-height: 35px;
  text-align: left;
}

.similar_artists ol.table li span.match_bar{
  float: left;
  height: 35px;
  width: 155px;
  margin-right: 20px;
}

.similar_artists ol.table li span.match_bar_inner{
  display: block;
  height: 11px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #6593CF;
}


