
.similar_artists ol.quilt li{
  float: left;
  list-style: none;
}

.similar_artists ol.quilt li.large{
  width: 130px;
  margin-right: 10px;
  margin-bottom: 5px;
  height: 130px;
}

.similar_artists ol.quilt li.medium{
  width: 65px;
  margin-right: 5px;
  margin-bottom: 2px;
  height: 70px;
}

.similar_artists ol.quilt li.small{
  width: 33px;
  margin-bottom: 1px;
  margin-right: 2px;
  height: 35px;
}

