.album_info {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 12px;
  font-family: verdana, helvetica, sans-serif;
}

.album_info img{
  float: left;
}

.album_info ol{
  float: left;
  display: block;
  margin-left: 50px;
  margin-bottom: 10px;
}

.album_info li{
  list-style-type: decimal;
}
