
.recent_tracks_window table{
  font-size: 9pt;
  font-family: verdana, helvetica, sans-serif;
  margin-bottom: 10px;
}

.recent_tracks_window td.artist{
  padding-right: 2em;
}
.recent_tracks_window td.time{
  font-size: 8pt;
}

.recent_tracks_window td.track{
  padding-right: 2em;
}


