
.torrent_search{
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}

.torrent_search a{
  color: #000000;
  text-decoration: none;
  font-family: verdana, helvetica, sans;
}

.torrent_search a:hover{
   text-decoration: underline;
}

