
.user_panel{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

.user_info_panel .x-panel-body{
  border: 0 !important;
}

.user_info{
  padding: 0 1em 0 1em;
}

.user_info img.avatar{
  float: left;
  width: 70px;
  height: 70px;
}

.now_playing_body{
  float: left;
  margin-top: 20px;
  width: 210px;
}

.now_playing_body h3{
   color : #15428B;
   font-family: tahoma, arial, verdana, sans-serif;
   font-size: 11px;
   font-weight: bold;
}

.now_playing_body .track, .now_playing_body .artist, .now_playing_body .by{
  font-size: 11px;
  font-family: verdana, helvetica, sans-serif;
  display: block;
  width: 210px;
  overflow: hidden;
}

.now_playing_body .artist{
  cursor: pointer;
}

.now_playing_body span.artist:hover{
  text-decoration: underline;
}
